.blog__container {
  .blog__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      width: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      height: 200px;
      width: 95%;
      background: #fff;
      position: relative;
      top: -20px;
      padding: 30px;
      .date {
        display: inline-block;
        padding: 10px;
        background: #000;
        color: #fff;
        font-size: 12px;
        font-family: sans-serif;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          transition: all 0.3s;
          background: #e62b4a;
          color: #fff;
        }
      }
      .title {
        margin-top: 15px;
        margin-bottom: 20px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          transition: all 0.3s;
          color: #e62b4a;
        }
      }
      .learnmore {
        border: none;
        background: #fff;
        font-family: monospace;
        cursor: pointer;
        position: relative;
        padding-bottom: 5px;
        transition: all 0.3s;
        &:hover {
          color: #e62b4a;
          transition: all 0.3s;
        }
      }
      .learnmore::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #e62b4a;
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.3s ease;
      }
      .learnmore:hover::before {
        transform: scaleX(1);
        color: #e62b4a;
      }
    }
  }
}
